@model Booking_Management_system.Models.Venue

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Venue</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VENUE_NAME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VENUE_NAME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LOCATION)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LOCATION)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CAPACITY)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CAPACITY)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IMAGE_URL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IMAGE_URL)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model?.VENUE_ID">Edit</a> |
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
